body {
    background-color: green;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bg-box {
    height: 1080px;
    width: 1920px;
    background-image: url("/foto/pole-zelen-trava-dom-derevya.webp"),
        url("/foto/їжак.webp"),
        url("/foto/lamp-png-34914.png"),
        url("/foto/пончик.png"),
        url("/foto/green-png-44873.png");
    background-repeat: no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
    background-position: center, left, top, right, bottom;
    background-size: auto, 50px, 50px, 50px, 400px;
}